<?php

/**
 * Drupal VM drush aliases.
 *
 * @see example.aliases.drushrc.php.
 */

{% for vhost in drush_aliases %}
$aliases['{{ vhost }}'] = array(
  'uri' => '{{ vhost }}.{{ drupal_domain }}',
  'root' => '/var/www/{{ vhost }}',
);

{% endfor %}
